<h1>Add a Flat</h1>
<%= simple_form_for (@flat) do |f| %>
  <%= f.input :name%>
  <%= f.input :address%>
  <%= f.input :description%>
  <%= f.input :price_per_night%>
  <%= f.input :number_of_guests%>
  <%= f.submit 'Create' %>
  <% if @flat.errors.any? %>
    <ul>
        <% @flat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>
<% end %>
