<h1>All our Flats</h1>
<h3><%= link_to "Add a flat", new_flat_path  %></h3>
<p><%= "You searched for . We found #{@flats.count} flats out of our #{@flats.count} on our website." %></p>
<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-4">
      <% @flats.each do |flat| %>
        <div class="card">
          <h3><%= flat.name %></h3>
          <p><%= flat.address %></p>
          <p><%= "ðŸ§‘ðŸ»#{flat.number_of_guests}" %><%= "  ðŸ’°#{flat.price_per_night}" %></p>
          <%= link_to "More info", flat_path(flat)  %>
          <%= link_to "Edit", edit_flat_path(flat)  %>
          <%= link_to "Remove", flat_path(flat), method: :delete, data: { confirm: "Are you sure to delete?"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>






